body{
  background-color: black;
}

.In{
  padding: 20px 10px;
  margin-top: 20px;
  font-size: 25px;
  background-color: black;
  color: wheat;
}
h1{
  font-weight: 800;
  color: wheat;
  font-family: cursive;
}

.buttons{
  margin-top: 100px;
}
h2{
  font-size: 40px;
  font-weight: 500;
  color:wheat;
}
button{
  padding: 5px 15px;
  font-size: 30px;
  margin: 10px;
  font-weight: 600;
  background: rgb(43, 40, 40);
  color: wheat;
}
.clr{
  font-size: 25px;
  padding: 7px 7px;
  font-weight: 600;
  background:rgb(61, 85, 2);
}
.sub{
  font-size: 30px;
  padding: 5px 18px;
}
.mul{
  padding: 5px 15px;
}
.divi{
  padding: 5px 19px;
}
.dot{
  padding: 5px 20px;
}